In [ ]:
Data Decription
The attributes are as follows:
    
Attribute Information:

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â °C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

In [ ]:
#Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Load Dataset
energy = pd.read_csv('energydata_complete.csv')

In [3]:
# first five 
energy.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,1/11/2016 17:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,1/11/2016 17:10,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,1/11/2016 17:20,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,1/11/2016 17:30,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,1/11/2016 17:40,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
energy.tail()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
19730,5/27/2016 17:20,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.7,...,23.2,46.7900,22.7,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,5/27/2016 17:30,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.7,...,23.2,46.7900,22.6,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,5/27/2016 17:40,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.7,...,23.2,46.7900,22.5,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,5/27/2016 17:50,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.7,...,23.2,46.8175,22.3,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,5/27/2016 18:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.7,...,23.2,46.8450,22.2,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [5]:
energy.shape

(19735, 29)

In [6]:
# Check for missing values
energy.isnull().sum().sort_values(ascending=False)

rv2            0
T6             0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
RH_6           0
rv1            0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
date           0
dtype: int64

In [7]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [8]:
energy.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.412580,755.522602,79.750418,4.039752,38.330834,3.760995,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.318464,7.399441,14.901088,2.451221,11.794719,4.195248,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.670000,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.920000,756.100000,83.666667,3.666667,40.000000,3.430000,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.400000,760.933333,91.666667,5.500000,40.000000,6.570000,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [9]:
corr = energy.corr().round(2)
corr

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
Appliances,1.00,0.20,0.06,0.09,0.12,-0.06,0.09,0.04,0.04,0.02,...,0.01,-0.05,0.10,-0.03,-0.15,0.09,0.00,0.02,-0.01,-0.01
lights,0.20,1.00,-0.02,0.11,-0.01,0.05,-0.10,0.13,-0.01,0.11,...,-0.16,-0.01,-0.07,-0.01,0.07,0.06,0.02,-0.04,0.00,0.00
T1,0.06,-0.02,1.00,0.16,0.84,-0.00,0.89,-0.03,0.88,0.10,...,0.84,0.07,0.68,-0.15,-0.35,-0.09,-0.08,0.57,-0.01,-0.01
RH_1,0.09,0.11,0.16,1.00,0.27,0.80,0.25,0.84,0.11,0.88,...,0.12,0.76,0.34,-0.29,0.27,0.20,-0.02,0.64,-0.00,-0.00
T2,0.12,-0.01,0.84,0.27,1.00,-0.17,0.74,0.12,0.76,0.23,...,0.68,0.16,0.79,-0.13,-0.51,0.05,-0.07,0.58,-0.01,-0.01
RH_2,-0.06,0.05,-0.00,0.80,-0.17,1.00,0.14,0.68,-0.05,0.72,...,0.05,0.68,0.03,-0.26,0.58,0.07,-0.01,0.50,0.01,0.01
T3,0.09,-0.10,0.89,0.25,0.74,0.14,1.00,-0.01,0.85,0.12,...,0.90,0.13,0.70,-0.19,-0.28,-0.10,-0.10,0.65,-0.01,-0.01
RH_3,0.04,0.13,-0.03,0.84,0.12,0.68,-0.01,1.00,-0.14,0.90,...,-0.20,0.83,0.12,-0.23,0.36,0.26,0.02,0.41,-0.00,-0.00
T4,0.04,-0.01,0.88,0.11,0.76,-0.05,0.85,-0.14,1.00,-0.05,...,0.89,-0.03,0.66,-0.08,-0.39,-0.19,-0.10,0.52,-0.00,-0.00
RH_4,0.02,0.11,0.10,0.88,0.23,0.72,0.12,0.90,-0.05,1.00,...,-0.04,0.86,0.29,-0.25,0.34,0.30,0.00,0.62,-0.00,-0.00
T5,0.02,-0.08,0.89,0.21,0.72,0.11,0.89,-0.05,0.87,0.09,...,0.91,0.07,0.65,-0.17,-0.27,-0.15,-0.08,0.59,-0.01,-0.01
RH_5,0.01,0.14,-0.01,0.30,0.03,0.25,-0.07,0.38,-0.08,0.35,...,-0.14,0.27,-0.05,-0.12,0.19,0.08,-0.01,0.08,-0.01,-0.01
T6,0.12,-0.08,0.65,0.32,0.80,-0.01,0.69,0.08,0.65,0.26,...,0.67,0.18,0.97,-0.14,-0.57,0.17,-0.08,0.76,-0.02,-0.02
RH_6,-0.08,0.15,-0.62,0.25,-0.58,0.39,-0.65,0.51,-0.70,0.39,...,-0.74,0.39,-0.64,-0.07,0.72,0.10,0.11,-0.26,0.01,0.01
T7,0.03,-0.14,0.84,0.02,0.66,-0.05,0.85,-0.25,0.88,-0.13,...,0.94,-0.08,0.63,-0.10,-0.41,-0.19,-0.11,0.47,-0.00,-0.00
RH_7,-0.06,0.04,0.14,0.80,0.23,0.69,0.17,0.83,0.04,0.89,...,0.03,0.86,0.29,-0.27,0.38,0.21,-0.01,0.64,0.00,0.00
T8,0.04,-0.07,0.83,-0.03,0.58,-0.04,0.80,-0.28,0.80,-0.17,...,0.87,-0.16,0.50,-0.16,-0.30,-0.22,-0.06,0.39,-0.00,-0.00
RH_8,-0.09,0.01,-0.01,0.74,0.07,0.68,0.04,0.83,-0.10,0.85,...,-0.11,0.86,0.12,-0.23,0.49,0.20,0.05,0.50,0.00,0.00
T9,0.01,-0.16,0.84,0.12,0.68,0.05,0.90,-0.20,0.89,-0.04,...,1.00,-0.01,0.67,-0.16,-0.32,-0.18,-0.10,0.58,-0.00,-0.00
RH_9,-0.05,-0.01,0.07,0.76,0.16,0.68,0.13,0.83,-0.03,0.86,...,-0.01,1.00,0.22,-0.18,0.36,0.24,0.01,0.54,-0.00,-0.00
T_out,0.10,-0.07,0.68,0.34,0.79,0.03,0.70,0.12,0.66,0.29,...,0.67,0.22,1.00,-0.14,-0.57,0.19,-0.08,0.79,-0.02,-0.02
Press_mm_hg,-0.03,-0.01,-0.15,-0.29,-0.13,-0.26,-0.19,-0.23,-0.08,-0.25,...,-0.16,-0.18,-0.14,1.00,-0.09,-0.24,0.04,-0.24,0.00,0.00
RH_out,-0.15,0.07,-0.35,0.27,-0.51,0.58,-0.28,0.36,-0.39,0.34,...,-0.32,0.36,-0.57,-0.09,1.00,-0.18,0.08,0.04,0.02,0.02
Windspeed,0.09,0.06,-0.09,0.20,0.05,0.07,-0.10,0.26,-0.19,0.30,...,-0.18,0.24,0.19,-0.24,-0.18,1.00,-0.01,0.13,-0.01,-0.01
Visibility,0.00,0.02,-0.08,-0.02,-0.07,-0.01,-0.10,0.02,-0.10,0.00,...,-0.10,0.01,-0.08,0.04,0.08,-0.01,1.00,-0.04,-0.01,-0.01
Tdewpoint,0.02,-0.04,0.57,0.64,0.58,0.50,0.65,0.41,0.52,0.62,...,0.58,0.54,0.79,-0.24,0.04,0.13,-0.04,1.00,-0.00,-0.00
rv1,-0.01,0.00,-0.01,-0.00,-0.01,0.01,-0.01,-0.00,-0.00,-0.00,...,-0.00,-0.00,-0.02,0.00,0.02,-0.01,-0.01,-0.00,1.00,1.00
rv2,-0.01,0.00,-0.01,-0.00,-0.01,0.01,-0.01,-0.00,-0.00,-0.00,...,-0.00,-0.00,-0.02,0.00,0.02,-0.01,-0.01,-0.00,1.00,1.00

In [10]:
# Comments
#Random variables have negative correlation
#All Temperature variables have positive correlation
#Press_mm_hg, RH_out have negative correlation
#Visibility has no correlation
#All humidity variables have positive correlation except RH_2, RH_6, RH_7, RH_8,RH_9, RH_out.

In [11]:
#drop date and lights colums
energy.drop(['date','lights'],axis=1,inplace=True)
energy.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [12]:
#to normalise our dataset to a common scale using minmaxscaler
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
normalised_energy=pd.DataFrame(scaler.fit_transform(energy),columns=energy.columns)
features_energy=normalised_energy.drop(columns=['Appliances'])
Appliances_target= normalised_energy['Appliances']
normalised_energy.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369132,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365595,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357878,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [13]:
# Splitting of data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(features_energy,Appliances_target,test_size=0.30,random_state=42)

In [14]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()

In [15]:
linear_model.fit(x_train, y_train)
prediction= linear_model.predict(x_test)
from sklearn.metrics import mean_squared_error, r2_score

In [16]:
# MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, prediction)
mae

0.0501325498118186

In [17]:
#Residual Sum of Squares
rss=np.sum(np.square(y_test-prediction))
round(rss,2)

45.35

In [18]:
r2_score = r2_score(y_test, prediction)
round(r2_score,3)

0.149

In [19]:
rmse = np.sqrt(mean_squared_error(y_test, prediction))
round(rmse,3)

0.088

In [20]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train,y_train)
prediction = ridge_reg.predict(x_test)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, prediction))
round(rmse, 3)

0.088

In [21]:
from sklearn.linear_model import Lasso
lasso_reg= Lasso(alpha=0.001)
lasso_reg.fit(x_train,y_train)
prediction = lasso_reg.predict(x_test)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, prediction))
round(rmse,3)

0.094

In [22]:
# Comparing the effects of regularisation
def get_weights_df(model,feat,col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_model_weights= get_weights_df(linear_model, x_train,'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train,'Lasso_weight')
final_weights =pd.merge(linear_model_weights,ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df,on='Features')
final_weights.sort_values("Linear_Model_Weight", ascending=False)

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
25         RH_1             0.553516      0.519502      0.017880
24           T3             0.290587      0.288055      0.000000
23           T6             0.236441      0.217324      0.000000
22    Tdewpoint             0.117862      0.083261      0.000000
21           T8             0.101995      0.101028      0.000000
20         RH_3             0.096095      0.095173      0.000000
19         RH_6             0.038023      0.035500     -0.000000
18    Windspeed             0.029178      0.030262      0.002912
17           T4             0.028957      0.027364     -0.000000
16         RH_4             0.026370      0.024565      0.000000
15         RH_5             0.016009      0.016154      0.000000
14   Visibility             0.012306      0.012076      0.000000
13           T7             0.010350      0.010126     -0.000000
12  Press_mm_hg             0.006832      0.006578     -0.000000
11          rv2             0.000765      0.000744     -0.000000
10          rv1             0.000765      0.000744     -0.000000
9            T1            -0.003242     -0.018372      0.000000
8            T5            -0.015645     -0.019840     -0.000000
7          RH_9            -0.039808     -0.041373     -0.000000
6          RH_7            -0.044620     -0.045983     -0.000000
5        RH_out            -0.077748     -0.054822     -0.049557
4          RH_8            -0.157585     -0.156818     -0.000110
3            T9            -0.189977     -0.188948     -0.000000
2            T2            -0.236198     -0.201417      0.000000
1         T_out            -0.321969     -0.262343      0.000000
0          RH_2            -0.456662     -0.411048     -0.000000

In [26]:
#From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?
linear_model = LinearRegression()
linear_model.fit(x_train[['T2']], x_train[['T6']])
y_pred = linear_model.predict(x_test[['T2']])
y_pred

array([[0.23928945],
       [0.46794238],
       [0.23108472],
       ...,
       [0.3001772 ],
       [0.4297256 ],
       [0.3217686 ]])

In [32]:
from sklearn.metrics import r2_score
r2_score = r2_score(x_test[['T6']], y_pred)
round(r2_score,2)

0.64